<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentDAO">


	<insert id="insert">
		insert into comment_table values(comment_table_seq.nextval, #{c_p_seq}, #{c_contents}, #{c_writer}, default);	
	</insert>



</mapper>